<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InsertPublisherApp.Properties.Settings.connectionString"
            connectionString="Data Source=DESKTOP-93MO6NE;Initial Catalog=BookPublisher;User ID=WKSHOME\CATALIN"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>